
<html>

<head>

    <base href="<%=basePath%>">
    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <!-- 引入jquery -->
    <script type="text/javascript" src="/js/js3/jquery-1.9.1.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link rel="stylesheet" href="/js/js3/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/js/js3/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入tree的js、css -->
    <link rel="stylesheet" href="/js/js3/bootstrap-treeview/bootstrap-treeview.min.css">
    <script type="text/javascript" src="/js/js3/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入选项卡的js、css -->
    <link rel="stylesheet" href="/js/js3/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="/js/js3/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/js3/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/js3/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/js3/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入删除提示框 -->
    <script type="text/javascript" src="/js/js3/bootbox/bootbox.min.js"></script>
    <!-- 引入时间的css、js -->
    <link rel="stylesheet" href="/js/js3/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script  src="/js/js3/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script  src="/js/js3/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- 引入文件上传的css、js -->
    <link rel="stylesheet" href="/js/js3/bootstrap-fileinput/css/fileinput.css">
<script type="text/javascript" src="/js/js3/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="/js/js3/bootstrap-fileinput/js/locales/zh.js"></script>
</head>

<body>
<form id="formId">
      汽车：<select name="carbrandid" id="carbrandid" class="form-control"> </select><br>

 地区：<select name="carareaid" class="form-control">
    <option value="0">请选择</option>
        <option value="1">北京</option>
        <option value="2">上海</option>
        <option value="3">西安</option>
    </select><br>

   车身颜色：<select name="carcolor" class="form-control">
        <option   >请选择</option>
        <option >红</option>
        <option >蓝</option>
        <option >白</option>
        <option >黑</option>
    </select><br>

     车况：<input type="radio" value="1" name="carck" > 好&nbsp;&nbsp;
    <input type="radio" value="2" name="carck">正常&nbsp;&nbsp;
    <input type="radio" value="3" name="carck">一般&nbsp;&nbsp;
    <input type="radio" value="4" name="carck">事故<br><br>
是否出售:<input type="radio" name="placecarstatu"  value="1"   class="form-group">已出售&nbsp;&nbsp;
    <input type="radio" name="placecarstatu"  value="2"   class="form-group">未出售
<br><br>
是否下单:<input type="radio" name="carstatus"  value="1"   class="form-group">已下单&nbsp;&nbsp;
<input type="radio" name="carstatus"  value="2"   class="form-group">未下单<br>

    <div class="input-group">
        <span class="input-group-addon">出售数量:</span>
        <input type="text" name="sellcarcount" class="form-control" placeholder="数量/台">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">行驶里程:</span>
        <input type="text" name="carlc" class="form-control" placeholder="行驶/km">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">车龄:</span>
        <input type="text" name="carage" class="form-control" placeholder="车龄/年">
    </div><br>
    <div class="input-group">
        <span class="input-group-addon">燃油:</span>
        <input type="text" name="carranyou" class="form-control" placeholder="升/公里">
    </div>






<br>
    <div class="row myrow">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">

        </div>
    </div>


    <div class="row myrow">
        <div class="col-md-2">
            <label for="headImg">头像</label>
        </div>
        <div class="col-md-10" >
            <input type="text" id="testimg" name="carimg" />
            <input type="file"  class="projectfile"  name="imgg" id="headImg">
        </div>
    </div>
</form>
</body>
<script>


    $(function () {
        uploadImg();
        aa();
    })

    function aa(){
        $.ajax({
            url:"../mqc/querytype",
           success:function(data){
              var op="<option value='0'>--请选择--</option>";
              for (var i=0;i<data.length;i++){
                  op+="<option value='"+data[i].id+"'>"+data[i].typename+"</option>";
              }
             $("#carbrandid").html(op)
           },
            error:function(){
                alert("后台")
            },
        })

    }















    function uploadImg(url){
        $('#headImg').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/mqc/updaloadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {

            var imgval = $('#testimg').val();

            if(imgval == null || imgval == "" || imgval == undefined){
                imgval = data.response.responseText;
            }/*else{
			imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
		}*/
            $('#testimg').val(imgval);
        });
    }
</script>
</html>