
<html>
<head>
    <base href="<%=basePath%>">
    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <script type="text/javascript" src="../js/jquery.min.js"></script>


    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />




    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>


    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>
<body>
<form id="formId">
      汽车 <select name="carbrandid">
    <option value="0">请选择</option>
           <option value="1">福特</option>
           <option value="2">大众</option>
           <option value="3">现代</option>
           <option value="4">别克</option>
           <option value="5">奥迪</option>
           <option value="6">雪佛兰</option>
           <option value="7">丰田</option>
          </select><br>

 地区   <select name="carareaid">
    <option value="0">请选择</option>
        <option value="1">北京</option>
        <option value="2">上海</option>
        <option value="3">西安</option>
    </select><br>
   车身颜色 <select name="carcolor">
    <option value="0">请选择</option>
        <option value="1">红</option>
        <option value="2">蓝</option>
        <option value="3">白</option>
        <option value="3">黑</option>
    </select><br>
     车况<input type="radio" value="1" name="carck"> 好
    <input type="radio" value="2" name="carck">正常
    <input type="radio" value="3" name="carck">一般
    <input type="radio" value="4" name="carck">事故<br>

    是否发售<input type="radio" value="1" name="carstatus">已售
            <input type="radio" value="2" name="carstatus">未售<br>


</form>
</body>
</html>
