<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阳光好车</title>


    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>


    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />




    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>


    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>




</head>
<body background="../images/1.jpg" style=" background-repeat:no-repeat ; background-size:100% 100%;  background-attachment: fixed;">
<button type="button" class="btn btn-Warning btn-lg" onclick="addBook()">新增</button>
<button type="button"  class="btn btn-info btn-lg" onclick="delBook()">设为轮播</button>
<button type="button"  class="btn btn-info btn-lg" onclick="delImg()">删除</button>
<!--  表格 -->
<table id="dataGrid"></table>

<script type="text/javascript">

    $(function(){
        initDataGrid();

    });
    function initDataGrid() {
        //创建bootstrapTable
        $("#dataGrid").bootstrapTable({
            url: "../img/queryImg",
            method: 'post',
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect: false,
            //选中行是不选中复选框或者单选按钮
            clickToSelect: true,
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "imgid",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            toolbar: '#tabToolBar',   //  工具定义位置
            sidePagination: 'server',
            toolbar: '#toolbar',
            pagination: true, //是否展示分页
            pageList: [1,2, 3,5, 8],//分页组件
            pageNumber: 1,
            pageSize: 1,//默认每页条数
            //启动回车键做搜索功能
            searchOnEnterKey: true,
            //设置为false 将禁止所有列的排序。
            sortable: true,
            //设置默认排序为 name,直接对应数据库的字段
            sortName: 'imgid',
            //定义排序方式，'asc' 或者 'desc'。
            sortOrder: "desc",
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            // 设置为limit可以获取limit, offset, search, sort, order
            queryParamsType: 'undefined',
            // 请求服务器数据
            queryParams: function queryParams(params) {
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    sortName: params.sortName,
                    sortOrder: params.sortOrder,
                };
                return param;
            },
            columns: [
                {field: 'checkbox', checkbox: true},  //开启复选框
                {field: 'imgid', title: 'id', width: 300},      //  列    field   代表是 后台  传过来的值

                {field: 'imgzt', title: '类型', width: 300,formatter:function(value,row,index){
                        if (value == 1) {
                            return "当前轮播";
                        }
                        if (value == 2) {
                            return "暂未轮播";
                        }
                    }},

                {field:'imgurl',title:'封面',formatter:function(value,row,index){
                        return  '<img src="'+value+'" width="70px" height="70px" />';
    }}


            ]

        });
    }
    function queryData(){
        $("#dataGrid").bootstrapTable("refresh", {
            "query": {
                pname: $("#pnameid").val(),
                starttime:$("#starttimeid").val(),
                endtime:$("#endtimeid").val(),
                maxprice:$("#maxpriceid").val(),
                minprice:$("minpriceid").val(),
                leagid:$("[name='leagid']").val()
            }
        });
    }

    //新增弹框
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function addBook(){
        //打开新增弹框
        bootbox.dialog({
            title: '新增用户',
            message: createAddContent("../img/addImgJsp"),
            closeButton: true,//是否显示关闭按钮
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        $.ajax({
                            url: '../img/addImg',
                            type: 'post',
                            data: $("#addFormId").serialize(),
                            success: function () {
                                alert("新增成功");
                                location.href=location;
                                $('#dataGrid').bootstrapTable("refresh");
                                //刷新表格
                            }, error: function () {
                                alert("新增失败");
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }

        });
    }


    function delBook(){
        var rows=$("#dataGrid").bootstrapTable("getSelections");
        if(rows==null || rows.length<=0){
            bootbox.alert({
                size:"small",
                title:"提示",
                message:"请选择需要轮播的图片",
                callback:function(){}
            })
            return ;
        }
        bootbox.confirm({
            size: "small",
            message: "确认要轮播这几张图片吗？",
            callback: function(result){
                if(result){
                    var lbid="";
                    for (var i = 0; i < rows.length; i++) {
                     //   alert(rows[i].imgid)
                        lbid+=","+rows[i].imgid;
                    }
                    lbid=lbid.substr(1);
                    var   count=0;
                    for(var i=0;i<rows.length;i++){
                        if(rows[i].imgzt==2){
                            count++;
                        };

                    }
                    if(count!=rows.length){
                        bootbox.alert({
                            size:"small",
                            title:"提示",
                            message:"只能选择未轮播的图片",
                            callback:function(){}
                        })
                        return ;
                    }
                    $.ajax({
                        url:'../img/addLbShow',
                        type:'post',
                        data:{
                           lbid:lbid
                        },
                        success:function(){
                            bootbox.alert({
                                size:"small",
                                title:"提示",
                                message:"已设为轮播",
                                callback:function(){}
                            });
                            location.href=location;
                        },error:function(){
                            bootbox.alert({
                                size:"small",
                                title:"提示",
                                message:"error",
                                callback:function(){}
                            });
                        }
                    })
                }
            }
        })
    }

    function delImg(){
        var rows=$("#dataGrid").bootstrapTable("getSelections");
        if(rows==null || rows.length<=0){
            bootbox.alert({
                size:"small",
                title:"提示",
                message:"请选择要删除的图片",
                callback:function(){}
            })
            return ;
        }
        bootbox.confirm({
            size: "small",
            message: "确认要删除这几张图片吗？",
            callback: function(result){
                if(result){
                    var lbid="";
                    for (var i = 0; i < rows.length; i++) {
                        alert(rows[i].imgid)
                        lbid+=","+rows[i].imgid;
                    }
                    lbid=lbid.substr(1);

                    $.ajax({
                        url:'../img/delImg',
                        type:'post',
                        data:{
                            lbid:lbid
                        },
                        success:function(){
                           location.href=location;
                        },error:function(){
                            bootbox.alert({
                                size:"small",
                                title:"提示",
                                message:"error",
                                callback:function(){}
                            })
                        }
                    })
                }
            }
        })
    }


    function updBook(){

        var arr = $('#dataGrid').bootstrapTable("getSelections");//获取选中的行
        console.log(arr);
        if (arr.length ==0 || arr.length>1) {
            bootbox.alert({
                size:"small",
                title:"提示",
                message:"只可修改一条数据",
                callback:function(){}
            })
        } else{
            var xgid=null;
            for (var i = 0; i < arr.length; i++) {
                alert(arr[i].pid)
                xgid=arr[i].pid;
            }
            bootbox.dialog({
                title: '修改用户',
                message: createAddContent("${pageContext.request.contextPath}/updBookJsp.do?pid="+xgid),
                closeButton: true,//是否显示关闭按钮
                buttons: {
                    "success": {
                        "label": "<i class='icon-ok'></i> 确认修改",
                        "className": "btn-sm btn-success",
                        "callback": function () {
                            $.ajax({
                                url: '${pageContext.request.contextPath}/updBook.do',
                                type: 'post',
                                data: $("#addFormId").serialize(),
                                success: function () {
                                    alert("修改成功");
                                    //刷新表格
                                    $('#dataGrid').bootstrapTable("refresh");
                                }, error: function () {
                                    alert("新增失败");
                                }
                            });
                        }
                    },
                    "cancel": {
                        "label": "<i class='icon-info'></i> 取消",
                        "className": "btn-sm btn-danger",
                        "callback": function () {
                        }
                    }
                }
            });
        }
    }
</script>
<!--<div id="BookDialog"></div>
<script>
    $(function(){
        queryBook();
    })
    function  queryBook() {
        $('#datagridId').datagrid({
            url: '../img/queryImg',
            method: "post",    //请求方式
            pagination: true,    //显示分页工具栏
            pageNumber: 1,    //初始页码
            pageSize: 2,    //初始页面行数，必须在pageList中
            pageList: [1, 2, 3, 5, 8, 10, 15, 20],    //页面显示行数列表
            fitColumns: true,    //自适应容器大小

            striped: true,//斑马线效果
            rownumbers: true,//显示行号
            columns: [
                [
                    {field: 'imgid', title: '编号', width: 100},
                    {
                        field: 'imgurl', title: '图片', width: 100,
                        formatter: function (value, row, index) {
                            return "<img width='100' src=' + value + '>"
                        }
                    },
                    {field: 'imgzt', title: '当前状态', width: 100,formatter: function(value,row,index) {
                            if (value == 1) {
                                return "当前轮播";
                            }
                            if (value == 2) {
                                return "暂未轮播";
                            }
                        }},




                    {
                        field: 'll', title: '操作', width: 100, align: 'right',
                        formatter: function (value, row, index) {
                            //var btn = '<a class="editcls"  href="javascript:updgwczt('+row.dmid+','+userid+')">加入购物车</a>';
                            var btn = '<a class="editcls"  href="javascript:updgwczt(' + row.cartypeid+ ','+ row.carcolor+')">下单</a>';
                            return btn;
                        }
                    }

                ]
            ],
            queryParams: {

            },
            onLoadSuccess: function (data) {

                $('.editcls').linkbutton({text: '下单', plain: true, iconCls: 'icon-cart'});


            },
            toolbar: [{
                iconCls: 'icon-add',
                text:'新增图片',
                handler: function(){
                    $('#BookDialog').dialog({
                        title: '新增图片',
                        width: 400,
                        height: 300,
                        closable: true,
                        closed: false,
                        cache: false,

                        href: '../img/addImgJsp',
                        modal: true ,
                        buttons:[{
                            text:'保存',
                            handler:function(){
                                $.ajax({
                                    url:"../img/addImg",
                                    type:"post",
                                    data:$("#addFormId").serialize(),
                                    dataType:"text",
                                    success:function (){
                                        $.messager.alert('提示','新增成功！！！');
                                        $('#datagridId').datagrid('reload');
                                        $('#BookDialog').dialog("close");
                                    },
                                    error:function (){
                                        $.messager.alert('警告','后台错误，请使用debug调试！！！');
                                    }
                                })
                            }
                        },{
                            text:'关闭',
                            handler:function(){
                                $('#BookDialog').dialog("close");
                            }
                        }]
                    });

                }
            },'-',{
                iconCls: 'icon-remove',
                text:'轮播预览',
                handler: function(){
                    var arr = $('#datagridId').datagrid('getSelections');
                    var lbid = "";
                    for(var i=0;i<arr.length;i++){
                        lbid += ","+arr[i].imgurl;
                    }
                    lbid = lbid.substr(1);
                    /* var   count=0;
                    for(var i=0;i<arr.length;i++){
                        if(arr[i].bookyn==2){
                            count++;
                        };
                    } */


                    if(lbid == ""){
                        $.messager.alert('警告','请选择要您要轮播的图片！！！','error');
                    }else{
                        //if(count==arr.length){
                       // $.get("../img/showImgList", {"lbid":lbid},function(){
                         //   $('#datagridId').datagrid('reload');

                      //  });
                        //
                        lbid=lbid.split(",");
                        for (var int = 0; int < lbid.length; int++) {

                            alert(lbid[int])

                        }
                     //   alert(lbid.length);
                        //}else{
                        // $.messager.alert('警告','只能删除下架的书籍！！！','error');
                        //}

                    }





                }
            },'-',{
                iconCls: 'icon-large-smartart',
                text:'设为轮播图片',
                handler: function(){
                    var arr = $('#datagridId').datagrid('getSelections');
                    var lbid = "";
                    for(var i=0;i<arr.length;i++){
                        lbid += ","+arr[i].imgid;
                    }
                    lbid = lbid.substr(1);
                    var   count=0;
                    for(var i=0;i<arr.length;i++){
                        if(arr[i].imgzt==2){
                            count++;
                        };

                    }
                    if(lbid == ""){
                        $.messager.alert('警告','请选择要您要轮播的图片！！！','error');
                    }else{

                        if(count==arr.length){
                            $.get("../img/addLbShow", {"lbid":lbid},function(){
                                $('#datagridId').datagrid('reload');
                            });
                        }else{
                            $.messager.alert('警告','只能设置未轮播的！！！','error');
                        }
                    }
                }


            }],


        });
    }

</script>-->




</body>
</html>