<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">
    <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <div class="logo_box">
            <h3>欢迎注册</h3>
            <form >

                <div class="input_outer">
                    <div  align="left">
                        <span class="us_uer"></span>
                        <input name="mobile" id="mobileid" class="text"  style="color: #FFFFFF !important" type="text" placeholder="请输入手机号">
                    </div>
                    <div align="right">
                        <input type="button" value="获取验证码" onclick="showTime()" id="dianjiId">
                    </div>

                </div>
                <div class="input_outer">
                    <span class="u_user"></span>
                    <input name="mobil" class="text" id="yzmid"  onblur="testYzm()" style="color: #FFFFFF !important" type="text" placeholder="请输入验证码">
                </div>


                <div class="mb2"><a class="act-but submit" href="javascript:testYzm();" style="color: #FFFFFF">登录</a></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>