<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../js/addTabs/cdn.css">
    
    <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
<input type="hidden" th:value="${session.time}" id="userid1">
<div class="se-kl">
    <div class="se-cn">优惠劵秒杀</div>
    <div class="se-en"></div>
    <i class="se-io"></i>
    <div class="se-info">点场 还剩</div>
    <div class="se-count">
        <div class="se-day"></div>
        <div class="se-hour"><span class="se-txt">00</span></div>
        <div class="se-min"><span class="se-txt">00</span></div>
        <div class="se-sec"><span class="se-txt">00</span></div>
    </div>
</div>

</body>
<script>


    $(document).ready(function () {
        var oDate = new Date();


        var nowTime = oDate.getTime(); //现在的毫秒数
        oDate.setDate(oDate.getDate()); // 设定截止时间为第二天
        /*alert(oDate.getDate()+1)*/
        var c=$("#userid1").val();
         alert(c)
        var targetDate = c;
        alert(targetDate)
        run(targetDate);
    });

    function run(enddate) {
        getDate(enddate);
        setInterval("getDate('" + enddate + "')", 500);
    }
    var kkkkk=null;
    function getDate(enddate) {
        var oDate = new Date(); //获取日期对象

        var nowTime = oDate.getTime(); //现在的毫秒数
        var enddate = new Date(enddate);
        var targetTime = enddate.getTime(); // 截止时间的毫秒数

        var second = Math.floor((targetTime - nowTime) / 1000); //截止时间距离现在的秒数

        var day = Math.floor(second / 24 * 60 * 60); //整数部分代表的是天；一天有24*60*60=86400秒 ；
        second = second % 86400; //余数代表剩下的秒数；
        var hour = Math.floor(second / 3600); //整数部分代表小时；
        second %= 3600; //余数代表 剩下的秒数；
        var minute = Math.floor(second / 60);
        second %= 60;
        var spanH = $('.se-txt')[0];
        var spanM = $('.se-txt')[1];
        var spanS = $('.se-txt')[2];
      /*  alert(JSON.stringify(spanH)+""+JSON.stringify(spanM)+""+JSON.stringify(spanS);*/
        if (hour>=0)
            spanH.innerHTML = tow(hour);
        if (minute>=0)
            spanM.innerHTML = tow(minute);
        if(second>=0)
            spanS.innerHTML = tow(second);
    }

    function tow(n) {
        
            return n >= 0 && n < 10 ? '0' + n : '' + n;

    }

</script>
</html>