<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
<form id="addFormId">
    <input type="hidden" th:value="${l.id}" name="id"/>
    <input type='text' name="stime" id="aa"  th:value="${#dates.format(l.stime,'yyyy-MM-dd HH:mm:ss')}"/>
    <input type="text"  name="zhangshu" th:value="${l.zhangshu}"/>
    <input type="hidden"  name="seckillname" th:value="${l.seckillname}"/>
</form>
</body>
</html>