<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Car" >
    <id column="carid" property="carid" jdbcType="INTEGER" />
    <result column="
carbrandid" property="
carbrandid" jdbcType="INTEGER" />
    <result column="
cardate" property="
cardate" jdbcType="TIMESTAMP" />
    <result column="
carlc" property="
carlc" jdbcType="VARCHAR" />
    <result column="
carareaid" property="
carareaid" jdbcType="INTEGER" />
    <result column="
carck" property="
carck" jdbcType="INTEGER" />
    <result column="
cartypeid" property="
cartypeid" jdbcType="INTEGER" />
    <result column="
carcolor" property="
carcolor" jdbcType="INTEGER" />
    <result column="
carstatus" property="
carstatus" jdbcType="INTEGER" />
    <result column="
userid" property="
userid" jdbcType="INTEGER" />
    <result column="
createdate" property="
createdate" jdbcType="TIMESTAMP" />
    <result column="carage" property="carage" jdbcType="INTEGER" />
    <result column="carlocation" property="carlocation" jdbcType="INTEGER" />
    <result column="carpl" property="carpl" jdbcType="INTEGER" />
    <result column="carranyou" property="carranyou" jdbcType="INTEGER" />
    <result column="sellcarstatu" property="sellcarstatu" jdbcType="INTEGER" />
    <result column="expocarstatu" property="expocarstatu" jdbcType="INTEGER" />
    <result column="placecarstatu" property="placecarstatu" jdbcType="INTEGER" />
    <result column="mentcarstatu" property="mentcarstatu" jdbcType="INTEGER" />
    <result column="visitcarstatu" property="visitcarstatu" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    carid, 
carbrandid, 
cardate, 
carlc, 
carareaid, 
carck, 
cartypeid, 
carcolor, 
    
carstatus, 
userid, 
createdate, carage, carlocation, carpl, carranyou, sellcarstatu, 
    expocarstatu, placecarstatu, mentcarstatu, visitcarstatu
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_car
    where carid = #{carid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_car
    where carid = #{carid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.Car" >
    insert into t_car (carid, 
carbrandid, 
cardate, 
      
carlc, 
carareaid, 
carck, 
      
cartypeid, 
carcolor, 
carstatus, 
      
userid, 
createdate, carage, 
      carlocation, carpl, carranyou, 
      sellcarstatu, expocarstatu, placecarstatu, 
      mentcarstatu, visitcarstatu)
    values (#{carid,jdbcType=INTEGER}, #{
carbrandid,jdbcType=INTEGER}, #{
cardate,jdbcType=TIMESTAMP}, 
      #{
carlc,jdbcType=VARCHAR}, #{
carareaid,jdbcType=INTEGER}, #{
carck,jdbcType=INTEGER}, 
      #{
cartypeid,jdbcType=INTEGER}, #{
carcolor,jdbcType=INTEGER}, #{
carstatus,jdbcType=INTEGER}, 
      #{
userid,jdbcType=INTEGER}, #{
createdate,jdbcType=TIMESTAMP}, #{carage,jdbcType=INTEGER}, 
      #{carlocation,jdbcType=INTEGER}, #{carpl,jdbcType=INTEGER}, #{carranyou,jdbcType=INTEGER}, 
      #{sellcarstatu,jdbcType=INTEGER}, #{expocarstatu,jdbcType=INTEGER}, #{placecarstatu,jdbcType=INTEGER}, 
      #{mentcarstatu,jdbcType=INTEGER}, #{visitcarstatu,jdbcType=INTEGER})
  </insert>
  <insert id="addCar" parameterType="com.jk.model.Car" >
    insert into t_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carid != null" >
        carid,
      </if>
      <if test="
carbrandid != null" >
        
carbrandid,
      </if>
      <if test="
cardate != null" >
        
cardate,
      </if>
      <if test="
carlc != null" >
        
carlc,
      </if>
      <if test="
carareaid != null" >
        
carareaid,
      </if>
      <if test="
carck != null" >
        
carck,
      </if>
      <if test="
cartypeid != null" >
        
cartypeid,
      </if>
      <if test="
carcolor != null" >
        
carcolor,
      </if>
      <if test="
carstatus != null" >
        
carstatus,
      </if>
      <if test="
userid != null" >
        
userid,
      </if>
      <if test="
createdate != null" >
        
createdate,
      </if>
      <if test="carage != null" >
        carage,
      </if>
      <if test="carlocation != null" >
        carlocation,
      </if>
      <if test="carpl != null" >
        carpl,
      </if>
      <if test="carranyou != null" >
        carranyou,
      </if>
      <if test="sellcarstatu != null" >
        sellcarstatu,
      </if>
      <if test="expocarstatu != null" >
        expocarstatu,
      </if>
      <if test="placecarstatu != null" >
        placecarstatu,
      </if>
      <if test="mentcarstatu != null" >
        mentcarstatu,
      </if>
      <if test="visitcarstatu != null" >
        visitcarstatu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carid != null" >
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="
carbrandid != null" >
        #{
carbrandid,jdbcType=INTEGER},
      </if>
      <if test="
cardate != null" >
        #{
cardate,jdbcType=TIMESTAMP},
      </if>
      <if test="
carlc != null" >
        #{
carlc,jdbcType=VARCHAR},
      </if>
      <if test="
carareaid != null" >
        #{
carareaid,jdbcType=INTEGER},
      </if>
      <if test="
carck != null" >
        #{
carck,jdbcType=INTEGER},
      </if>
      <if test="
cartypeid != null" >
        #{
cartypeid,jdbcType=INTEGER},
      </if>
      <if test="
carcolor != null" >
        #{
carcolor,jdbcType=INTEGER},
      </if>
      <if test="
carstatus != null" >
        #{
carstatus,jdbcType=INTEGER},
      </if>
      <if test="
userid != null" >
        #{
userid,jdbcType=INTEGER},
      </if>
      <if test="
createdate != null" >
        #{
createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="carage != null" >
        #{carage,jdbcType=INTEGER},
      </if>
      <if test="carlocation != null" >
        #{carlocation,jdbcType=INTEGER},
      </if>
      <if test="carpl != null" >
        #{carpl,jdbcType=INTEGER},
      </if>
      <if test="carranyou != null" >
        #{carranyou,jdbcType=INTEGER},
      </if>
      <if test="sellcarstatu != null" >
        #{sellcarstatu,jdbcType=INTEGER},
      </if>
      <if test="expocarstatu != null" >
        #{expocarstatu,jdbcType=INTEGER},
      </if>
      <if test="placecarstatu != null" >
        #{placecarstatu,jdbcType=INTEGER},
      </if>
      <if test="mentcarstatu != null" >
        #{mentcarstatu,jdbcType=INTEGER},
      </if>
      <if test="visitcarstatu != null" >
        #{visitcarstatu,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.Car" >
    update t_car
    <set >
      <if test="
carbrandid != null" >
        
carbrandid = #{
carbrandid,jdbcType=INTEGER},
      </if>
      <if test="
cardate != null" >
        
cardate = #{
cardate,jdbcType=TIMESTAMP},
      </if>
      <if test="
carlc != null" >
        
carlc = #{
carlc,jdbcType=VARCHAR},
      </if>
      <if test="
carareaid != null" >
        
carareaid = #{
carareaid,jdbcType=INTEGER},
      </if>
      <if test="
carck != null" >
        
carck = #{
carck,jdbcType=INTEGER},
      </if>
      <if test="
cartypeid != null" >
        
cartypeid = #{
cartypeid,jdbcType=INTEGER},
      </if>
      <if test="
carcolor != null" >
        
carcolor = #{
carcolor,jdbcType=INTEGER},
      </if>
      <if test="
carstatus != null" >
        
carstatus = #{
carstatus,jdbcType=INTEGER},
      </if>
      <if test="
userid != null" >
        
userid = #{
userid,jdbcType=INTEGER},
      </if>
      <if test="
createdate != null" >
        
createdate = #{
createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="carage != null" >
        carage = #{carage,jdbcType=INTEGER},
      </if>
      <if test="carlocation != null" >
        carlocation = #{carlocation,jdbcType=INTEGER},
      </if>
      <if test="carpl != null" >
        carpl = #{carpl,jdbcType=INTEGER},
      </if>
      <if test="carranyou != null" >
        carranyou = #{carranyou,jdbcType=INTEGER},
      </if>
      <if test="sellcarstatu != null" >
        sellcarstatu = #{sellcarstatu,jdbcType=INTEGER},
      </if>
      <if test="expocarstatu != null" >
        expocarstatu = #{expocarstatu,jdbcType=INTEGER},
      </if>
      <if test="placecarstatu != null" >
        placecarstatu = #{placecarstatu,jdbcType=INTEGER},
      </if>
      <if test="mentcarstatu != null" >
        mentcarstatu = #{mentcarstatu,jdbcType=INTEGER},
      </if>
      <if test="visitcarstatu != null" >
        visitcarstatu = #{visitcarstatu,jdbcType=INTEGER},
      </if>
    </set>
    where carid = #{carid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.Car" >
    update t_car
    set 
carbrandid = #{
carbrandid,jdbcType=INTEGER},
      
cardate = #{
cardate,jdbcType=TIMESTAMP},
      
carlc = #{
carlc,jdbcType=VARCHAR},
      
carareaid = #{
carareaid,jdbcType=INTEGER},
      
carck = #{
carck,jdbcType=INTEGER},
      
cartypeid = #{
cartypeid,jdbcType=INTEGER},
      
carcolor = #{
carcolor,jdbcType=INTEGER},
      
carstatus = #{
carstatus,jdbcType=INTEGER},
      
userid = #{
userid,jdbcType=INTEGER},
      
createdate = #{
createdate,jdbcType=TIMESTAMP},
      carage = #{carage,jdbcType=INTEGER},
      carlocation = #{carlocation,jdbcType=INTEGER},
      carpl = #{carpl,jdbcType=INTEGER},
      carranyou = #{carranyou,jdbcType=INTEGER},
      sellcarstatu = #{sellcarstatu,jdbcType=INTEGER},
      expocarstatu = #{expocarstatu,jdbcType=INTEGER},
      placecarstatu = #{placecarstatu,jdbcType=INTEGER},
      mentcarstatu = #{mentcarstatu,jdbcType=INTEGER},
      visitcarstatu = #{visitcarstatu,jdbcType=INTEGER}
    where carid = #{carid,jdbcType=INTEGER}
  </update>
</mapper>