<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.Mdao" >


    <select id="querycar" resultType="com.jk.model.Car">
     select *  from  t_car  <include refid="ii"/> and carsxj=1
       limit #{pageNumber},#{pageSize}
     </select>
    <select id="sumcount"  resultType="int"   >
        select count(*) from  t_car  <include refid="ii"/>  and carsxj=1

    </select>


    <select id="querycar2" resultType="com.jk.model.Car">
        select *  from  t_car  <include refid="ii"/> and carsxj=2
        limit #{pageNumber},#{pageSize}
    </select>

    <select id="sumcount12"  resultType="int"   >
        select count(*) from  t_car  <include refid="ii"/>  and carsxj=2

    </select>

   <!-- <insert id="addcar" parameterType="com.jk.model.Car">

    </insert>-->






<select id="querytye" resultType="com.jk.model.CarType">
    select  *  from  car_type   where pid=0
</select>
   <sql id="ii">
<where>
1=1
<if test="carstatus!=null and carstatus!=0 ">
    and carstatus=#{carstatus}
</if>

<if test="carbrandid!=null and carbrandid!=0 ">
        and carbrandid=#{carbrandid}
    </if>

</where>
   </sql>

    <select id="querycartype" resultType="com.jk.model.CarType">
     select * from  car_type
      limit #{pageNumber},#{pageSize}

    </select>

<select id="sumcount2"  resultType="int" >
    select count(*) from car_type

</select>





</mapper>